<div class="container-not-found">
    <div class="title">404</div>
        <div class="wrapper-text">
            <h1 class="sec-title">Oops! There is no data</h1>
            <p class="text-desc">Unfortunately the page you were looking for could not be found.<br>
              It may be temporarily unavailable, moved or no longer exist.<br>
              Check the URL you entered for any mistakes and try again.
            </p>
            <button mat-raised-button color="primary" (click)="goToPrevious()">Return Previous Page</button>
            <h3>
              Still no luck?<br>
              Call developer of this site.
            </h3>
    </div>
</div>