.wrapper-card {
    margin: 5px 20px 20px;

    .mat-card-content{
        margin-top: 16px;
        padding: 0 12px;
    
        .mat-form-field{
            width: 100%;
        }
    }
    .media .avatar {
        width: 64px;
    }
    .shadow-textarea textarea.form-control::placeholder {
        font-weight: 300;
    }
    .shadow-textarea textarea.form-control {
        padding-left: 0.8rem;
    }
}