<ul class="breadcrumb">
  <li><a (click)="goToBack()">Ticket management</a></li>
  <li class="active">Detail ({{data.title}})</li>
</ul>
<mat-card class="wrapper-card">
            <div class="col-xs-10">
                <mat-card-header>
                    <mat-card-title>Detail Ticket {{data.title}}</mat-card-title>
                    
                </mat-card-header>
            </div>
            <div class="col-xs-2">
                <div class="wrapper-button">
                        <button mat-raised-button class="bg-blue" mat-button [matMenuTriggerFor] = "menu" >Change Status</button>
                        <mat-menu #menu = "matMenu">
                        <button (click)="changeStatus('in-progress')" mat-menu-item *ngIf="data.status == 'created' || data.status == 'redo'">In Progress</button>
                        <button (click)="changeStatus('ready-to-test')" mat-menu-item *ngIf="data.status == 'in-progress'">Ready To Test</button>
                        <button (click)="changeStatus('in-review')" mat-menu-item *ngIf="data.status == 'ready-to-test'">In Review</button>
                        <button (click)="changeStatus('redo')" mat-menu-item *ngIf="data.status == 'in-review'">Redo</button>
                        <button (click)="changeStatus('done')" mat-menu-item *ngIf="data.status == 'in-review'">Done</button>
                        </mat-menu>
                </div>
            </div>
            <div class="clearfix"></div>
           
            <mat-divider></mat-divider>
            <mat-card-content>
                    <div class="row">
                            <div class="col-sm-2 col-xs-12 text-right">
                                <strong>Status <span class="symbol-required">*</span> : </strong>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <mat-form-field>
                                    <mat-label>Status</mat-label>
                                    <select matNativeControl [readonly]="true"  name="status" ngModel="{{data.status}}" #status="ngModel" required>
                                        <option value="">-- Select status</option>
                                        <option value="todo">ToDo</option>
                                        <option value="in-progress">In Progress</option>
                                        <option value="ready-to-test">Ready To Test</option>
                                        <option value="in-review">In Review</option>
                                        <option value="redo">Redo</option>
                                        <option value="done">Done</option>
                                    </select>
                                </mat-form-field>
                                <div class="error-red" *ngIf="status.invalid && (status.touched || status.dirty)">
                                    <div *ngIf="status.errors.required">
                                        This field is required !
                                    </div>
                                </div>
                            </div>
                        </div>
              <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Title <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput [readonly]="true" name="title"  ngModel="{{data.title}}" #title="ngModel" required>
                    </mat-form-field>
                    <div class="error-red" *ngIf="title.invalid && (title.touched || title.dirty)">
                        <div *ngIf="title.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Desciption <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Desciption</mat-label>
                        <input matInput [readonly]="true" name="description" ngModel="{{data.description}}" #description="ngModel" required>
                    </mat-form-field>
                    <div class="error-red" *ngIf="description.invalid && (description.touched || description.dirty)">
                        <div *ngIf="description.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                      <div class="col-sm-2 col-xs-12 text-right">
                          <strong>Priority <span class="symbol-required">*</span> : </strong>
                      </div>
                      <div class="col-sm-5 col-xs-12">
                          <mat-form-field>
                              <mat-label>Priority</mat-label>
                              <select matNativeControl [readonly]="true"  name="class_list" ngModel="{{data.CLASS_ID}}" #class_list="ngModel" required>
                                  <option value="">-- Priority --</option>
                                  <option *ngFor="let class_list of class_lists" value="{{class_list.id}}">{{class_list.title}}</option>
                              </select>
                          </mat-form-field>
                          <div class="error-red" *ngIf="class_list.invalid && (class_list.touched || class_list.dirty)">
                              <div *ngIf="class_list.errors.required">
                                  This field is required !
                              </div>
                          </div>
                      </div>
                  </div>
              <div class="row">
                  <div class="col-sm-2 col-xs-12 text-right">
                      <strong>Platform <span class="symbol-required">*</span> : </strong>
                  </div>
                  <div class="col-sm-5 col-xs-12">
                      <mat-form-field>
                          <mat-label>Platform</mat-label>
                          <select matNativeControl [readonly]="true" (change)="onChange($event)" name="platform" ngModel="{{data.platform}}" #platform="ngModel" required>
                              <option value="">-- Select Platform</option>
                              <option value="web">Web</option>
                              <option value="mobile">Mobile</option>
                          </select>
                      </mat-form-field>
                      <div class="error-red" *ngIf="platform.invalid && (platform.touched || platform.dirty)">
                          <div *ngIf="platform.errors.required">
                              This field is required !
                          </div>
                      </div>
                  </div>
              </div>
      
              <div class="row" *ngIf="select_platform == 'web'">
                  <div class="col-sm-2 col-xs-12 text-right">
                      <strong>Link <span class="symbol-required">*</span> : </strong>
                  </div>
                  <div class="col-sm-5 col-xs-12">
                      <mat-form-field>
                          <mat-label>Link</mat-label>
                          <input matInput [readonly]="true" name="link" ngModel="{{data.link}}" #link="ngModel" required>
                      </mat-form-field>
                      <div class="error-red" *ngIf="link.invalid && (link.touched || link.dirty)">
                          <div *ngIf="link.errors.required">
                              This field is required !
                          </div>
                      </div>
                  </div>
              </div>
      
              <div class="row" *ngIf="select_platform == 'mobile'">
                  <div class="col-sm-2 col-xs-12 text-right">
                      <strong>Device <span class="symbol-required">*</span> : </strong>
                  </div>
                  <div class="col-sm-5 col-xs-12">
                      <mat-form-field>
                          <mat-label>Device</mat-label>
                          <input matInput [readonly]="true" name="device" ngModel="{{data.device}}" #device="ngModel" required>
                      </mat-form-field>
                      <div class="error-red" *ngIf="device.invalid && (device.touched || device.dirty)">
                          <div *ngIf="device.errors.required">
                              This field is required !
                          </div>
                      </div>
                  </div>
              </div>
      
               <div class="row" *ngIf="select_platform == 'mobile'">
                  <div class="col-sm-2 col-xs-12 text-right">
                      <strong>Version App <span class="symbol-required">*</span> : </strong>
                  </div>
                  <div class="col-sm-5 col-xs-12">
                      <mat-form-field>
                          <mat-label>Version App</mat-label>
                          <input matInput [readonly]="true" name="version" ngModel="{{data.version}}" #version="ngModel" required>
                      </mat-form-field>
                      <div class="error-red" *ngIf="version.invalid && (version.touched || version.dirty)">
                          <div *ngIf="version.errors.required">
                              This field is required !
                          </div>
                      </div>
                  </div>
              </div> 
             
          
                  <div class="row">
                      <div class="col-sm-2 col-xs-12 text-right">
                          <strong>Assign Staff Developer <span class="symbol-required">*</span> : </strong>
                      </div>
                      <div class="col-sm-5 col-xs-12">
                          <mat-form-field>
                              <mat-label>Assign Staff Developer</mat-label>
                              <select matNativeControl [readonly]="true"  name="developer_list" ngModel="{{data.USER_ID}}" #developer_list="ngModel" required>
                                  <option value="">-- Assign Staff Developer --</option>
                                  <option *ngFor="let developer_list of developer_lists" value="{{developer_list.id}}">{{developer_list.firstname}} {{developer_list.lastname}}</option>
                              </select>
                          </mat-form-field>
                          <div class="error-red" *ngIf="developer_list.invalid && (developer_list.touched || developer_list.dirty)">
                              <div *ngIf="developer_list.errors.required">
                                  This field is required !
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="header-content-right" >
                        <img style="float: right;height: 250px; margin-top: -300px;" src="{{pathImg}}" alt="User Profile">
                      
                    </div>
            </mat-card-content>
            <mat-divider></mat-divider>
         
                    
          
           
      </mat-card>
      <mat-card class="wrapper-card">

         <mat-card-header>
                <mat-card-title>Comment</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content style="margin-top: 50px;">
                <div class="row">
                    <div class="media"  *ngFor="let comment_list of comment_lists">
                        <div  style="text-align: right" *ngIf="json_locstor.user.id ==  comment_list.subject_id">
                                <button mat-raised-button color="warn" (click)="goToDelete(comment_list.id)"><mat-icon>delete</mat-icon></button>
                            <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="{{getImages(comment_list.img)}}"
                            alt="Avatar">
                        
                            <div class="media-body">
                                <h5 class="mt-0 font-weight-bold blue-text">{{comment_list.username}} - {{comment_list.subject == 'qa' ? 'Staff Quality Assurance' : 'Staff Developer'}}</h5>
                                <div class="role"></div>
                                {{comment_list.created_date}} - {{ comment_list.comment}}
                            </div>
                        </div>
                        <div  style="text-align: left" *ngIf="json_locstor.user.id !=  comment_list.subject_id">
                            <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="{{getImages(comment_list.img)}}" alt="Avatar">
                        
                            <div class="media-body">
                                <h5 class="mt-0 font-weight-bold blue-text">{{comment_list.username}}  - {{comment_list.subject == 'qa' ? 'Staff Quality Assurance' : 'Staff Developer'}}</h5>
                                <div class="role"></div>
                                {{ comment_list.comment}} - {{comment_list.created_date}}
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <div class="media-body">
                                
                                <h5 class="mt-0 font-weight-bold blue-text">Me</h5>
                                <div class="form-group basic-textarea rounded-corners">
                                <textarea class="form-control z-depth-1" [(ngModel)]="message" name="message" (keyup)="onSend($event)" id="exampleFormControlTextarea345" rows="3" placeholder="Write your comment..."></textarea>
                                </div>
                                <button (click)="goToSent()" mat-raised-button class="bg-blue"><mat-icon>send</mat-icon> Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
      </mat-card>