<ul class="breadcrumb">
  <li class="active">Staff Quality Assurance Management</li>
</ul>
            
<div class="mat-elevation-z8 wrapper-table">
  <div class="wrapper-filter">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="wrapper-button">
          <button (click)="goToInsert()" mat-raised-button class="bg-blue"><mat-icon>add</mat-icon> Add New Staff Quality Assurance</button>
          <!-- <button (click)="openDialogImport()" mat-raised-button class="bg-green"><mat-icon>get_app</mat-icon> Import Alumni </button>
          <button (click)="openDialogExport()" mat-raised-button class="bg-old-green"><mat-icon>publish</mat-icon> Export Alumni </button> -->
      </div>
  </div>

  <div *ngIf="isLoadingResults" class="loading-shade">
      <mat-spinner></mat-spinner>
  </div>
  
  <mat-table *ngIf="!isLoadingResults" class="table-responsive" mat-table [dataSource]="dataSource" matSort> 

      <!-- Action Column -->
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row"> <button mat-raised-button class="bg-indigo" (click)="goToEdit(row.id)"><mat-icon>edit</mat-icon></button>&nbsp;<button mat-raised-button color="warn" (click)="openDialogDelete(row.id)"><mat-icon>delete</mat-icon></button> </td>
      </ng-container>

      <!-- Photo Column -->
      <ng-container matColumnDef="photo">
          <th mat-header-cell *matHeaderCellDef> Photo </th>
          <td mat-cell *matCellDef="let row">
              <ng-container *ngIf="row.img != ''; else elseTemplate">
                  <img class="img-circle" src="{{url_image + row.img}}" alt="User Photo" width="50" height="50">
              </ng-container>
              <ng-template #elseTemplate>
                  <img class="img-circle" src="../../../assets/image/anonymous.jpg" alt="User Photo" width="50" height="50">
              </ng-template>
          </td>
      </ng-container>

      <!-- firstname Column -->
      <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.firstname}} {{row.lastname}} </td>
      </ng-container>

      <!-- lastname Column -->
      <!-- <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef> lastname </th>
          <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
      </ng-container> -->

       <!-- Email Column -->
       <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

=

      <!-- status Column -->
      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> status </th>
          <td mat-cell *matCellDef="let row"> <span *ngIf="row.status == '1'">Active</span> </td>
          <td mat-cell *matCellDef="let row"> <span *ngIf="row.status == '0'">Not Active</span> </td>
      </ng-container>
      
      <!-- Join Date Column -->
      <ng-container matColumnDef="created_date">
          <th mat-header-cell *matHeaderCellDef> Create Date </th>
          <td mat-cell *matCellDef="let row"> {{row.created_date}} </td>
      </ng-container>
            
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
            
  <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
</div>