<ul class="breadcrumb">
    <li class="active">User Management</li>
</ul>
              
<div class="mat-elevation-z8 wrapper-table">
    <div class="wrapper-filter">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="wrapper-button">
            <button (click)="goToInsert()" mat-raised-button class="bg-blue"><mat-icon>add</mat-icon> Add New User</button>
        </div>
    </div>

    <div *ngIf="isLoadingResults" class="loading-shade">
        <mat-spinner></mat-spinner>
    </div>
    
    <mat-table *ngIf="!isLoadingResults" class="table-responsive" mat-table [dataSource]="dataSource" matSort> 

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row"> <button mat-raised-button color="primary" (click)="goToEdit(row._id)"><mat-icon>edit</mat-icon></button>&nbsp;<button mat-raised-button color="warn" (click)="openDialogDelete(row._id, row.firstname, row.lastname)"><mat-icon>delete</mat-icon></button> </td>
        </ng-container>
              
        <!-- Company Column -->
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef> Company </th>
            <td mat-cell *matCellDef="let row"> {{row.company_id.name}} </td>
        </ng-container>

        <!-- Salesgroup Column -->
        <ng-container matColumnDef="salesgroup">
            <th mat-header-cell *matHeaderCellDef> Sales Group </th>
            <td mat-cell *matCellDef="let row"> {{row.salesgroup_id.name}} </td>
        </ng-container>

        <!-- Employee No Column -->
        <ng-container matColumnDef="employee_no">
            <th mat-header-cell *matHeaderCellDef> Employee No </th>
            <td mat-cell *matCellDef="let row"> {{row.employee_no}} </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let row"> {{row.img}} </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="img_user">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let row"> 
                    <img class="img-circle" src="{{url_image + row.img}}" alt="Brand Image" width="50" height="50"> 
                </td>
        </ng-container>

        <!-- Firstname Column -->
        <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> Firstname </th>
            <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
        </ng-container>
        
        <!-- Lastname Column -->
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> Lastname </th>
            <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let row">
                <span *ngIf="row.role == 'superadmin'">Super Admin</span>
                <span *ngIf="row.role == 'spv'">SPV</span>
            </td>
        </ng-container>

        <!-- Publish Column -->
        <ng-container matColumnDef="publish">
            <th mat-header-cell *matHeaderCellDef> Publish </th>
            <td mat-cell *matCellDef="let row"> <span *ngIf="row.publish == true">Publish</span> </td>
            <td mat-cell *matCellDef="let row"> <span *ngIf="row.publish == false">Not Publish</span> </td>
        </ng-container>
        
        <!-- Join Date Column -->
        <ng-container matColumnDef="join_date">
            <th mat-header-cell *matHeaderCellDef> Join Date </th>
            <td mat-cell *matCellDef="let row"> {{row.join_date}} </td>
        </ng-container>
              
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
              
    <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
</div>