<div class="container">
  <!-- <img width="170" src="../../assets/image/PricewaterhouseCoopers_Logo.png" alt="Logo PWC"> -->
  <mat-card class="wrapper-card-login">
    <h2 class="title-login">Sign in to your account</h2>
    <p class="sec-title-login">Please enter your email and password to log in.</p>
    <form (ngSubmit)="onSubmit(formLogin)" #formLogin="ngForm">
      <div class="wrapper-login alternative-mat-form-field-white-theme">
        <mat-form-field appearance="outline" class="outline-white">
          <mat-label>Email</mat-label>
            <input matInput name="email" ngModel #email="ngModel" required email>
            <mat-icon matSuffix class="icon-white">account_circle</mat-icon>
        </mat-form-field>
        <div class="error-white" *ngIf="email.invalid && (email.touched || email.dirty)">
          <div *ngIf="email.errors.required  && !email.dirty">
            This field is required !
          </div>
          <div *ngIf="!email.errors.valid && email.dirty">
            Please enter a valid email !
          </div>
        </div>
        
        <mat-form-field appearance="outline" class="outline-white">
          <mat-label>Password</mat-label>
            <input matInput type="password" name="password" ngModel #password="ngModel" minlength="8" required>
            <mat-icon matSuffix class="icon-white">vpn_key</mat-icon>
        </mat-form-field>
        <div class="error-white" *ngIf="password.invalid && (password.touched || password.dirty)">
          <div *ngIf="password.errors.required">
            This field is required !
          </div>
          <div *ngIf="password.errors.minlength">
            Password Minimum 8 character !
          </div>
        </div>

        <mat-form-field appearance="outline" class="outline-white">
          <mat-label>Type</mat-label>
            <select matNativeControl name="type" ngModel #type="ngModel" required>
                <option value="">-- Select Access --</option>
                <option value="pm">Project Manager</option>
                <option value="qa">Quality Assurance</option>
                <option value="developer">Developer</option>
            </select>
        </mat-form-field>
        <div class="error-white" *ngIf="type.invalid && (type.touched || type.dirty)">
          <div *ngIf="type.errors.required">
              This field is required !
          </div>
        </div>

      </div>
      <div class="wrapper-button">
          <button mat-raised-button type="submit">Login</button>
      </div>
    </form>
    <div class="wrapper-powered">
      <span class="sec-title-login">2019 &copy; Powered by <a href="https://www.eannovate.com/">Eannovate</a></span>
    </div>
  </mat-card>
</div>
