<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item (click)="toggleProjectManager()">
        <mat-icon aria-hidden="false" aria-label="PM Icon">group</mat-icon> <span class="menu-list-name">User</span>
        <mat-icon aria-hidden="false" aria-label="Expand Icon" *ngIf="isProjectManager == true">expand_more</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Expand Icon" *ngIf="isProjectManager == false">expand_less</mat-icon>
      </a>
      <!-- Start Submenu Master -->
      <a mat-list-item routerLink="projectManager" routerLinkActive="active" class="first-child" [ngClass]="{'child-master': isProjectManager}">
        <mat-icon aria-hidden="false" aria-label="Project Manager Icon">group_add</mat-icon> <span class="menu-list-name">Project Manager List</span>
      </a>

      <a mat-list-item routerLink="projectManager" routerLinkActive="active" class="first-child" [ngClass]="{'child-master': isProjectManager}">
        <mat-icon aria-hidden="false" aria-label="Quality Assurance Icon">group_add</mat-icon> <span class="menu-list-name">Quality Assurance List</span>
      </a>

      <a mat-list-item routerLink="projectManager" routerLinkActive="active" class="first-child" [ngClass]="{'child-master': isProjectManager}">
        <mat-icon aria-hidden="false" aria-label="Developer Icon">group_add</mat-icon> <span class="menu-list-name">Developer List</span>
      </a>
      
      <!-- Start Board COmponent -->
      <a mat-list-item routerLink="board" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Developer Icon">group_add</mat-icon> <span class="menu-list-name">Board</span>
      </a>
      <!-- End Board Component -->

      <!-- start report -->
      <a mat-list-item (click)="toggleReport()">
        <mat-icon aria-hidden="false" aria-label="PM Icon">group</mat-icon> <span class="menu-list-name">Report</span>
        <mat-icon aria-hidden="false" aria-label="Expand Icon" *ngIf="isReport == true">expand_more</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Expand Icon" *ngIf="isReport == false">expand_less</mat-icon>
      </a>
      <!-- Start Submenu Master -->
      <a mat-list-item routerLink="projectManager" routerLinkActive="active" class="first-child" [ngClass]="{'child-master': isReport}">
        <mat-icon aria-hidden="false" aria-label="Project Manager Icon">group_add</mat-icon> <span class="menu-list-name">Report A</span>
      </a>

      <a mat-list-item routerLink="projectManager" routerLinkActive="active" class="first-child" [ngClass]="{'child-master': isReport}">
        <mat-icon aria-hidden="false" aria-label="Quality Assurance Icon">group_add</mat-icon> <span class="menu-list-name">Report B</span>
      </a>

      <a mat-list-item routerLink="projectManager" routerLinkActive="active" class="first-child" [ngClass]="{'child-master': isReport}">
        <mat-icon aria-hidden="false" aria-label="Developer Icon">group_add</mat-icon> <span class="menu-list-name">Report C</span>
      </a>
      <!-- End Submenu Master -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="menu-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="wrapper-header-content">
        <div class="header-content-left">
          <div class="title-company">Issues Tracking</div>
          <div class="desc-app-company">Issues Tracking Management System</div>
        </div>
      </div>
      <div class="wrapper-header-content-right text-right">
        <div class="header-content-right" [matMenuTriggerFor]="belowMenu">
            <img src="../../assets/image/PricewaterhouseCoopers_Logo.png" alt="User Profile">
            <div class="header-content-right-text">
              <div class="username">{{json_locstor.user.firstname}} {{json_locstor.user.firstname}}</div>
              <div class="role">{{json_locstor.role}}</div>
            </div>
        </div>
        <mat-menu #belowMenu="matMenu">
          <button mat-menu-item (click)="toogleLogout()"><mat-icon aria-hidden="false" aria-label="Home Icon">account_circle</mat-icon> Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
      <router-outlet></router-outlet>
    <!-- End Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
