<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="warn">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="log" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Master Icon">cached</mat-icon> <span class="menu-list-name">Log</span>
      </a>
      <a mat-list-item (click)="toggleMaster()">
        <mat-icon aria-hidden="false" aria-label="Master Icon">apps</mat-icon> <span class="menu-list-name">Master</span>
        <mat-icon aria-hidden="false" aria-label="Expand Icon" *ngIf="isMaster == true">expand_more</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Expand Icon" *ngIf="isMaster == false">expand_less</mat-icon>
      </a>
      <!-- Start Submenu Master -->
      <a mat-list-item routerLink="brand" routerLinkActive="active" class="first-child" [ngClass]="{'child-master': isMaster}">
        <mat-icon aria-hidden="false" aria-label="Brand Icon">branding_watermark</mat-icon> <span class="menu-list-name">Brand</span>
      </a>
      <a mat-list-item routerLink="category" routerLinkActive="active" class="first-child" [ngClass]="{'child-master': isMaster}">
        <mat-icon aria-hidden="false" aria-label="Category Icon">category</mat-icon> <span class="menu-list-name">Category</span>
      </a>
      <!-- End Submenu Master -->
      <a mat-list-item routerLink="user" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Master Icon">person</mat-icon> <span class="menu-list-name">User</span> <mat-icon aria-hidden="false" aria-label="Expand Icon"></mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <button
        class="menu-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="wrapper-header-content">
        <div class="header-content-left">
          <div class="title-company">Salestar Admin</div>
          <div class="desc-app-company">Sales Management System</div>
        </div>
      </div>
      <div class="wrapper-header-content-right text-right">
        <div class="header-content-right" [matMenuTriggerFor]="belowMenu">
            <img src="../../assets/image/salestar.png" alt="User Profile">
            <div class="header-content-right-text">
              <div class="username">Administrator Salestar</div>
              <div class="role">Super User</div>
            </div>
        </div>
        <mat-menu #belowMenu="matMenu">
            <button mat-menu-item><mat-icon aria-hidden="false" aria-label="Home Icon">home</mat-icon> Home</button>
            <button mat-menu-item><mat-icon aria-hidden="false" aria-label="Home Icon">account_circle</mat-icon> Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
      <router-outlet></router-outlet>
    <!-- End Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
