<ul class="breadcrumb">
    <li><a (click)="goToUser()">User Management</a></li>
    <li class="active">Insert User</li>
</ul>
<mat-card class="marg20">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" enctype="multipart/form-data">
        <mat-card-header>
            <mat-card-title>Insert User</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Company <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field>
                        <mat-label>Company</mat-label>
                        <select matNativeControl name="company" ngModel #company="ngModel" required>
                            <option value="">-- Select Company --</option>
                            <option *ngFor="let company of companies" value="{{company._id}}">{{company.name}}</option>
                        </select>
                    </mat-form-field>
                    <div class="error-red" *ngIf="company.invalid && (company.touched || company.dirty)">
                        <div *ngIf="company.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Sales Group <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field>
                        <mat-label>Sales Group</mat-label>
                        <select matNativeControl name="sales" ngModel #sales="ngModel" required>
                            <option value="">-- Select Sales Group --</option>
                            <option *ngFor="let salesa of Listsales" value="{{salesa._id}}">{{salesa.name}}</option>
                        </select>
                    </mat-form-field>
                    <div class="error-red" *ngIf="sales.invalid && (sales.touched || sales.dirty)">
                        <div *ngIf="sales.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Employee Number <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Employee Number</mat-label>
                        <input matInput name="employee_number" ngModel #employee_number="ngModel" required>
                    </mat-form-field>
                    <div class="error-red" *ngIf="employee_number.invalid && (employee_number.touched || employee_number.dirty)">
                        <div *ngIf="employee_number.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    Image Profile : 
                </div>
                <div class="col-sm-5 col-xs-12 marg-bottom-20">
                    <input type="file" (change)="onSelectedImage($event)" placeholder="Image Profile" name="image_profile" ngModel #image_profile="ngModel" required>
                    <div class="error-red margv10" *ngIf="image_profile.touched">
                        <div *ngIf="image_profile.invalid">
                            This field is required !
                        </div>
                        <div [ngClass]="{'hidden': validateImage}">
                            Please select correct file format attachment (jpg, jpeg, png) !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Firstname <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Firstname</mat-label>
                        <input matInput name="firstname" ngModel #firstname="ngModel" required>
                    </mat-form-field>
                    <div class="error-red" *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
                        <div *ngIf="firstname.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Lastname <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Lastname</mat-label>
                        <input matInput name="lastname" ngModel #lastname="ngModel" required>
                    </mat-form-field>
                    <div class="error-red" *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
                        <div *ngIf="lastname.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Phone Number <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput placeholder="Phone Number" name="phone" ngModel #phone="ngModel" required>
                    </mat-form-field>
                    <div class="error-red" *ngIf="phone.invalid && (phone.touched || phone.dirty)">
                        <div *ngIf="phone.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>E-mail <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="E-mail" name="email" ngModel #email="ngModel" email required>
                    </mat-form-field>
                    <div class="error-red" *ngIf="email.invalid && (email.touched || email.dirty)">
                        <div *ngIf="email.errors.required">
                            This field is required !
                        </div>
                        <div *ngIf="!email.errors.valid && email.dirty">
                            Please enter a valid email !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Password <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Password" name="password" ngModel #password="ngModel" minlength="8" required>
                    </mat-form-field>
                    <div class="error-red" *ngIf="password.invalid && (password.touched || password.dirty)">
                        <div *ngIf="password.errors.required">
                            This field is required !
                        </div>
                        <div *ngIf="password.errors.minlength">
                            Please enter minimum 8 char !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Role <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field>
                        <mat-label>Role</mat-label>
                        <select matNativeControl name="role" ngModel #role="ngModel" required>
                            <option value="">-- Select Role --</option>
                            <option value="superadmin">Super Admin</option>
                            <option value="spv">SPV</option>
                        </select>
                    </mat-form-field>
                    <div class="error-red" *ngIf="role.invalid && (role.touched || role.dirty)">
                        <div *ngIf="role.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Publish <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field>
                        <mat-label>Publish</mat-label>
                        <select matNativeControl name="publish" ngModel="{{select_publish}}" #publish="ngModel" required>
                            <option value="true">Publish</option>
                            <option value="false">Not Publish</option>
                        </select>
                    </mat-form-field>
                    <div class="error-red" *ngIf="publish.invalid && (publish.touched || publish.dirty)">
                        <div *ngIf="publish.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="row">
                <div class="col-sm-3 col-xs-2 pad0">
                    <a class="delete-on-edit" color="warn">Delete</a>
                </div>
                <div class="col-sm-9 col-xs-10 pad0 text-right">
                    <button mat-raised-button (click)="goToUser()">Cancel</button>
                    <button mat-raised-button color="primary" type="submit">Create</button>
                </div>
            </div>
        </mat-card-actions>
    </form>
</mat-card>