<ul class="breadcrumb">
  <li><a (click)="goToBack()">Project Manager's Management Management</a></li>
  <li class="active">Edit Project Manager's Management</li>
</ul>
<mat-card class="wrapper-card">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" enctype="multipart/form-data">
        <mat-card-header>
            <mat-card-title>Edit Project Manager's Management</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>First Name <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput name="firstname" ngModel="{{projectManager.firstname}}" #firstname="ngModel" required>
                    </mat-form-field>
                    <div class="error-red" *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
                        <div *ngIf="firstname.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Last Name <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput name="lastname" ngModel="{{projectManager.lastname}}" #lastname="ngModel" required>
                    </mat-form-field>
                    <div class="error-red" *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
                        <div *ngIf="lastname.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">
                <strong>E-mail <span class="symbol-required">*</span> : </strong>
            </div>
            <div class="col-sm-5 col-xs-12">
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="E-mail" name="email" ngModel="{{projectManager.email}}" #email="ngModel" email required>
                </mat-form-field>
                <div class="error-red" *ngIf="email.invalid && (email.touched || email.dirty)">
                    <div *ngIf="email.errors.required">
                        This field is required !
                    </div>
                    <div *ngIf="!email.errors.valid && email.dirty">
                        Please enter a valid email !
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    Password : 
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput name="password" ngModel="{{projectManager.password}}" #password="ngModel" s>
                    </mat-form-field>
                    <div class="error-red" *ngIf="password.invalid && (password.touched || password.dirty)">
                      
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    Image : 
                </div>
                <div class="col-sm-5 col-xs-12 marg-bottom-20">
                    <ng-container *ngIf="projectManager.img != ''; else elseTemplate">
                        <img src="{{url_image + projectManager.img}}" class="img-thumbnail marg-bottom-10" alt="User Photo" width="220" height="220">
                    </ng-container>
                    <ng-template #elseTemplate>
                        <img src="../../../assets/image/anonymous.jpg" class="img-thumbnail marg-bottom-10" alt="User Photo" width="220" height="220">
                    </ng-template>
                    <input type="file" (change)="onSelectedImage($event)" placeholder="Image" name="image" ngModel #image="ngModel">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-xs-12 text-right">
                    <strong>Status <span class="symbol-required">*</span> : </strong>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <mat-form-field>
                        <mat-label>Status</mat-label>
                        <select matNativeControl name="status" ngModel="{{projectManager.status}}" #status="ngModel" required>
                            <option value="1">Active</option>
                            <option value="0">Deactive</option>
                        </select>
                    </mat-form-field>
                    <div class="error-red" *ngIf="status.invalid && (status.touched || status.dirty)">
                        <div *ngIf="status.errors.required">
                            This field is required !
                        </div>
                    </div>
                </div>
            </div>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="row">
                <div class="col-sm-3 col-xs-2 pad0">
                    <!-- <a class="delete-on-edit" color="warn">Delete</a> -->
                </div>
                <div class="col-sm-9 col-xs-10 pad0 text-right">
                    <button mat-raised-button (click)="goToBack()">Cancel</button>
                    <button mat-raised-button color="primary" type="submit">Update</button>
                </div>
            </div>
        </mat-card-actions>
    </form>
</mat-card>