@import '~@angular/material/theming';
@include mat-core();

//Public theme
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$mat-myred: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ff8a80,
  300: #b34c4c,
  400: #ad2a2a,
  500: #a32020,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #b34c4c,
  A400: #ad2a2a,
  A700: #a32020,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$ng-app-green: mat-palette($mat-green);
$ng-app-blue: mat-palette($mat-blue);
$ng-app-yellow: mat-palette($mat-yellow);
$ng-app-grey: mat-palette($mat-grey);
$ng-app-indigo: mat-palette($mat-indigo);

$ng-app-primary: mat-palette($mat-blue);
$ng-app-accent: mat-palette($mat-orange);
$ng-app-warn: mat-palette($mat-deep-orange);
$ng-app-theme: mat-light-theme(
  $ng-app-primary,
  $ng-app-accent,
  $ng-app-warn
);

@include angular-material-theme($ng-app-theme);

.alternative-mat-form-field-white-theme {
    $form-field-white-primary: mat-palette($mat-grey, A100);
    $form-field-white-accent: mat-palette($mat-grey, 400);

    $form-field-white-theme: mat-light-theme(
        $form-field-white-primary,
        $form-field-white-accent
    );

    @include mat-form-field-theme($form-field-white-theme);
}