<ul class="breadcrumb">
    <li><a (click)="goToBrand()">Brand Management</a></li>
    <li class="active">Edit Brand</li>
</ul>
<mat-card class="marg20">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" enctype="multipart/form-data">
        <mat-card-header>
            <mat-card-title>Edit Brand</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">
                <strong>Company <span class="symbol-required">*</span> : </strong>
            </div>
            <div class="col-sm-5 col-xs-12">
                <mat-form-field>
                    <mat-label>Company</mat-label>
                    <select matNativeControl name="company" ngModel="{{brand.company_id}}" #company="ngModel" required>
                        <option *ngIf="companies == null" value="">Loading...</option>                        
                        <option value="" disabled>-- Select Company --</option>
                        <option *ngFor="let company of companies" value="{{company._id}}">{{company.name}}</option>
                    </select>
                </mat-form-field>
                <div class="error-red" *ngIf="company.invalid && (company.touched || company.dirty)">
                    <div *ngIf="company.errors.required">
                        This field is required !
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">
                <strong>Name <span class="symbol-required">*</span> : </strong>
            </div>
            <div class="col-sm-5 col-xs-12">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput required name="name" ngModel="{{brand.name}}" #name="ngModel">
                </mat-form-field>
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <span *ngIf="name.errors.required">This field is required !</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">
                <strong>Description <span class="symbol-required">*</span> : </strong>
            </div>
            <div class="col-sm-5 col-xs-12">
                <div style="margin-bottom: 20px;">
                    <editor name="desc" #desc="ngModel" ngModel="{{brand.desc}}" required>{{brand.desc}}</editor>
                </div>
                <div class="error-red" *ngIf="desc.invalid && (desc.touched || desc.dirty)">
                    <div *ngIf="desc.errors.required">
                        This field is required !
                    </div>
                </div>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput name="desc" ngModel="{{brand.desc}}" #desc="ngModel">{{brand.desc}}</textarea>
                </mat-form-field> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">
                Image : 
            </div>
            <div class="col-sm-5 col-xs-12 marg-bottom-20">
                <img src="{{brand.img}}" class="img-thumbnail marg-bottom-10" width="220" height="220">
                <input type="file" (change)="onSelectedImage($event)" placeholder="Image Brand" name="image" ngModel #image="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">
                <strong>Publish <span class="symbol-required">*</span> : </strong>
            </div>
            <div class="col-sm-5 col-xs-12">
                <mat-form-field>
                    <mat-label>Publish</mat-label>
                    <select matNativeControl name="publish" ngModel="{{brand.publish}}" #publish="ngModel" required>
                        <option value="true">Publish</option>
                        <option value="false">Not Publish</option>
                    </select>
                </mat-form-field>
                <div class="error-red" *ngIf="publish.invalid && (publish.touched || publish.dirty)">
                    <div *ngIf="publish.errors.required">
                        This field is required !
                    </div>
                </div>
            </div>
        </div>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="row">
                <div class="col-sm-3 col-xs-2 pad0">
                    <a class="delete-on-edit" color="warn">Delete</a>
                </div>
                <div class="col-sm-9 col-xs-10 pad0 text-right">
                    <button mat-raised-button (click)="goToBrand()">Cancel</button>
                    <button mat-raised-button color="primary" type="submit">Update</button>
                </div>
            </div>
        </mat-card-actions>
    </form>
</mat-card>
